
.contact{
@include flex(center, start, column);
padding: 30px 0px 50px 0px;
gap: 30px;

@media (min-width: $bp-md) {
    gap: 40px;
  }
@media (min-width: $bp-lg) {
    gap: 50px;
    padding: 50px 70px 100px;
    flex-direction: row;
  }
}

.contact-content{
@include flex(center, center, column);   
padding: 0px 20px;
align-self: stretch;
gap: 30px;
text-align: center;
font-family: Gilroy-Medium;
font-size: 30px;
font-weight: 400;


& :first-child{
font-family: Gilroy-Bold;
font-size: 35px;
font-weight: 400;
text-transform: uppercase;


@media (min-width: $bp-sm) {
    font-size: 50px;
  }

@media (min-width: $bp-md) {
    font-size: 64px;
  }


}

@media (min-width: $bp-md) {
    padding: 0px 30px;
    font-size: 34px;
  }
}




.contact__title{
color:$title-color;
text-align: center;
font-family: Gilroy;
padding: 0 20px;
font-size: 54px;
font-weight: 300;
text-transform: uppercase; 
align-self: stretch;


@media (min-width: $bp-sm) {
    font-size: 80px;
  }

  @media (min-width: $bp-md) {
    font-size: 150px;
    padding: 0 30px;
  }
}