.what-i-do::before {
    content: "";
    background: url(../../img/what-i-do-bgd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 478px;
    width: 100%;
    display: block;

    @media (min-width: $bp-md) {
        height: 991px;
    }

    @media (min-width: $bp-lg) {
        height: 1137px;
        width: 45%;
    }
}
