<section class="about-me-section">
    <div class="about-me-section__content-wrapper">
        <p class="main-heading-section__intro-text">From art to technology, we transform visions
            into extraordinary <span class="main-heading-section__intro-text--bold">digital experiences</span> -
            your design, our
            passion, an
            exceptional future</p>
        <div class="about-me-section__about-me-banner-wrapper section-block">
            <h2 class="about-me-section__section-heading">
                About Me
            </h2>
            <div class="social-icons-wrapper">
                <a href="#"
                    class="social-icons-wrapper__social-icon-wrapper">@@include('./html/layout/html-assets/facebook-icon.html')</a>
                <a href="#"
                    class="social-icons-wrapper__social-icon-wrapper">@@include('./html/layout/html-assets/twitter-icon.html')</a>
                <a href="#"
                    class="social-icons-wrapper__social-icon-wrapper">@@include('./html/layout/html-assets/linked-in-icon.html')</a>
                <a href="#"
                    class="social-icons-wrapper__social-icon-wrapper">@@include('./html/layout/html-assets/dribble-icon.html')</a>
            </div>
        </div>
    </div>

    <div class="about-me-section__logo-wrapper section-block">

        <div class="about-me-section__logo-item-wrapper">
            <img src="../../img/logos/logo-7.svg" alt="" class="about-me-section__logo-item-image">
        </div>

        <div class="about-me-section__logo-item-wrapper">
            <img src="../../img/logos/logo-6.svg" alt="" class="about-me-section__logo-item-image">
        </div>

        <div class="about-me-section__logo-item-wrapper">
            <img src="../../img/logos/logo-5.svg" alt="" class="about-me-section__logo-item-image">
        </div>

        <div class="about-me-section__logo-item-wrapper">
            <img src="../../img/logos/logo-4.svg" alt="" class="about-me-section__logo-item-image">
        </div>
        <div class="about-me-section__logo-item-wrapper">
            <img src="../../img/logos/logo-3.svg" alt="" class="about-me-section__logo-item-image">
        </div>

        <div class="about-me-section__logo-item-wrapper">
            <img src="../../img/logos/logo-2.svg" alt="" class="about-me-section__logo-item-image">
        </div>

        <div class="about-me-section__logo-item-wrapper">
            <img src="../../img/logos/logo-1.svg" alt="" class="about-me-section__logo-item-image">
        </div>

    </div>
</section>