<header class="header">
    <nav class="header__navigation">
        <a href="#" class="header__logo-wrapper">
            <img src="../../img/logos/page-logo.svg" alt="logo">
            <p class="header__heading-text header__heading-text--bold">Dianne
                <span class="header__heading-text header__heading-text--light">Studio</span>

            </p>
            <span class="header__trademark-sign">&#174;</span>
        </a>
        <p class="header__menu-heading">MENU</p>
    </nav>
</header>