<header class="header">
    <nav class="header__navigation">
        <a href="#" class="header__logo-wrapper">
            <img src="../../img/logos/page-logo.svg" alt="logo">
            <p class="header__heading-text header__heading-text--bold">Dianne
                <span class="header__heading-text header__heading-text--light">Studio</span> <span
                    class="header__trademark-sign">&#174;</span>
            </p>
        </a>
        <p class="header__menu-heading">MENU</p>
    </nav>
    <h1 class="header__main-site-heading">Dianne Russell <span>Digital Design</span></h1>
</header>