<section class="main-heading-section">
    <h1 class="main-heading-section__main-site-heading">Dianne Russell <span>Digital Design</span></h1>
    @@include('./html/layout/html-assets/arrow-down-icon.html')
    <picture class="main-heading-section__banner">
        <source media="(min-width: 1200px)" srcset="../../img/hero/hero-photo-desktop.jpg">
        <source media="(min-width: 768px)" srcset=" ../../img/hero/hero-photo-tablet.jpg">
        <!-- img tag for browsers that do not support picture element -->
        <img src="../../img/hero/hero-photo-mobile.jpg" alt="Main site banner">
    </picture>
</section>