<section class="my-clients">
  <h2 class="my-clients__title">My clients</h2>

  <!-- <section class="my-clients-content"> -->
  <ul class="my-clients-content">
    <!-- 1 -->
    <li class="my-clients-content__item-box">
      <img src="../../img/logos/logo-6.svg" alt="logo" />
      <h3 class="my-clients-content__item-box__title">
        Exceptional Web and Digital Design That Exceeded Expectations
      </h3>
      <p>
        Our website redesign and digital transformation went above and beyond
        our wildest dreams. Dianne's attention to detail, creativity, and
        unmatched design skills resulted in a visually stunning and
        user-friendly online presence that left us in awe.
      </p>
      <div class="my-clients-content__item-box-avtor">
        <span>Annette Black</span>
        <p>Marketing Coordinator</p>
      </div>
    </li>

    <!-- 2 -->
    <li class="my-clients-content__item-box">
      <img src="../../img/logos/logo-7.svg" alt="logo" />
      <h3 class="my-clients-content__item-box__title">
        Art Direction that Perfectly Captured Our Essence
      </h3>
      <p>
        Collaborating with Dianne on our art direction was an absolute delight.
        He not only listened to our ideas but also infused his own creativity
        into the mix, resulting in a visual brand identity that flawlessly
        encapsulated our essence.
      </p>
      <div class="my-clients-content__item-box-avtor">
        <span>Ralph Edwards</span>
        <p>Software Development Manager</p>
      </div>
    </li>

    <!-- 3 -->
    <li class="my-clients-content__item-box">
      <img src="../../img/logos/logo-4.svg" alt="logo" />
      <h3 class="my-clients-content__item-box__title">
        Interaction Design Expertise that Delivered Beyond Measure
      </h3>
      <p>
        Dianne's expertise in interaction design elevated our app to new heights
        of user-friendliness and intuitiveness. His meticulous approach and
        imaginative thinking led to a product that far exceeded our
        expectations.
      </p>
      <div class="my-clients-content__item-box-avtor">
        <span>Jacob Jones</span>
        <p>Scrum Master</p>
      </div>
    </li>
    <!-- 4 -->
    <li class="my-clients-content__item-box">
      <img src="../../img/logos/logo-3.svg" alt="logo" />
      <h3 class="my-clients-content__item-box__title">
        Captivating Motion Design that Breathed Life into Our Brand
      </h3>
      <p>
        Dianne's mastery of motion design is nothing short of extraordinary.
        With his stunning animations, he breathed life into our brand, leaving
        our audience thoroughly captivated.
      </p>
      <div class="my-clients-content__item-box-avtor">
        <span>Cameron Williamson</span>
        <p>Software Tester</p>
      </div>
    </li>
    <!-- 5 -->
    <li class="my-clients-content__item-box">
      <img src="../../img/logos/logo-2.svg" alt="logo" />
      <h3 class="my-clients-content__item-box__title">
        Dianne Delivered a Website that Truly Showcases Our Business
      </h3>
      <p>
        Dianne's web design prowess has given us a website that not only
        showcases our business but does so in a highly professional and
        user-friendly manner. We couldn't be more thrilled with the final
        result.
      </p>
      <div class="my-clients-content__item-box-avtor">
        <span>Eleanor Pena</span>
        <p>Software Developer</p>
      </div>
    </li>
    <!-- 6 -->
    <li class="my-clients-content__item-box">
      <img src="../../img/logos/logo-1.svg" alt="logo" />
      <h3 class="my-clients-content__item-box__title">
        Dianne Delivers a Business-Showcasing Website
      </h3>
      <p>
        Dianne's mastery of web design has given our brand a vibrant new lease
        on life. With precision and creativity, she transformed our vision into
        a website that truly sets us apart from the competition.
      </p>
      <div class="my-clients-content__item-box-avtor">
        <span>Courtney Henry</span>
        <p>Software Development Manager</p>
      </div>
    </li>
  </ul>
  <!-- </section> -->
</section>
