<section class="our-team-section section-block">
    <h2 class="section-header our-team-section__main-header">Our team</h2>
    <div class="our-team-section__team-member-cards-wrapper">

        <div class="team-member-card-wrapper">
            <div class="team-member-card-wrapper__heading">
                <h3 class="team-member-card-wrapper__team-member-name">Tyra Dhillon
                </h3>
                <p class="team-member-card-wrapper__job-title">Creative Director</p>
            </div>
            <picture>
                <source media="(min-width: 1200px)" srcset="../../img/team/Our-team-1-desktop.png">
                <source media="(min-width: 768px)" srcset="../../img/team/Our-team-1-tablet.png">
                <img src="../../img/team/Our-team-1-mobile.png" alt="Digital Design Work">
            </picture>
            <div class="social-icons-wrapper team-member-card-wrapper__social-network-icons-wrapper">
                <a href="#"
                    class="social-icons-wrapper__social-icon-wrapper team-member-card-wrapper__social-network-icon">@@include('./html/layout/html-assets/facebook-icon-black.html')</a>
                <a href="#"
                    class="social-icons-wrapper__social-icon-wrapper team-member-card-wrapper__social-network-icon">@@include('./html/layout/html-assets/twitter-icon-black.html')</a>
                <a href="#"
                    class="social-icons-wrapper__social-icon-wrapper team-member-card-wrapper__social-network-icon">@@include('./html/layout/html-assets/linked-in-icon-black.html')</a>
                <a href="#"
                    class="social-icons-wrapper__social-icon-wrapper team-member-card-wrapper__social-network-icon">@@include('./html/layout/html-assets/dribble-icon-black.html')</a>
            </div>
        </div>
        <div class="team-member-card-wrapper">
            <div class="team-member-card-wrapper__heading">
                <h3 class="team-member-card-wrapper__team-member-name">Darcel Ballentine
                </h3>
                <p class="team-member-card-wrapper__job-title">Brand Designer</p>
            </div>
            <picture>
                <source media="(min-width: 1200px)" srcset="../../img/team/Our-team-2-desktop.png">
                <source media="(min-width: 768px)" srcset="../../img/team/Our-team-2-tablet.png">
                <img src="../../img/team/Our-team-2-mobile.png" alt="Digital Design Work">
            </picture>
            <div class="social-icons-wrapper team-member-card-wrapper__social-network-icons-wrapper">
                <a href="#"
                    class="social-icons-wrapper__soc ial-icon-wrapper">@@include('./html/layout/html-assets/facebook-icon-black.html')</a>
                <a href="#"
                    class="social-icons-wrapper__social-icon-wrapper team-member-card-wrapper__social-network-icon">@@include('./html/layout/html-assets/twitter-icon-black.html')</a>
                <a href="#"
                    class="social-icons-wrapper__social-icon-wrapper team-member-card-wrapper__social-network-icon">@@include('./html/layout/html-assets/linked-in-icon-black.html')</a>
                <a href="#"
                    class="social-icons-wrapper__social-icon-wrapper team-member-card-wrapper__social-network-icon">@@include('./html/layout/html-assets/dribble-icon-black.html')</a>
            </div>
        </div>
        <div class="team-member-card-wrapper">
            <div class="team-member-card-wrapper__heading">
                <h3 class="team-member-card-wrapper__team-member-name">Brittni Lando
                </h3>
                <p class="team-member-card-wrapper__job-title">Fashion Designer</p>
            </div>
            <picture>
                <source media="(min-width: 1200px)" srcset="../../img/team/Our-team-3-desktop.png">
                <source media="(min-width: 768px)" srcset="../../img/team/Our-team-3-tablet.png">
                <img src="../../img/team/Our-team-3-mobile.png" alt="Digital Design Work">
            </picture>
            <div class="social-icons-wrapper team-member-card-wrapper__social-network-icons-wrapper">
                <a href="#"
                    class="social-icons-wrapper__social-icon-wrapper team-member-card-wrapper__social-network-icon">@@include('./html/layout/html-assets/facebook-icon-black.html')</a>
                <a href="#"
                    class="social-icons-wrapper__social-icon-wrapper team-member-card-wrapper__social-network-icon">@@include('./html/layout/html-assets/twitter-icon-black.html')</a>
                <a href="#"
                    class="social-icons-wrapper__social-icon-wrapper team-member-card-wrapper__social-network-icon">@@include('./html/layout/html-assets/linked-in-icon-black.html')</a>
                <a href="#"
                    class="social-icons-wrapper__social-icon-wrapper team-member-card-wrapper__social-network-icon">@@include('./html/layout/html-assets/dribble-icon-black.html')</a>
            </div>
        </div>
        <div class="team-member-card-wrapper">
            <div class="team-member-card-wrapper__heading">
                <h3 class="team-member-card-wrapper__team-member-name">Roselle Ehrman
                </h3>
                <p class="team-member-card-wrapper__job-title">Graphic Designer</p>
            </div>
            <picture>
                <source media="(min-width: 1200px)" srcset="../../img/team/Our-team-4-desktop.png">
                <source media="(min-width: 768px)" srcset="../../img/team/Our-team-4-tablet.png">
                <img src="../../img/team/Our-team-4-mobile.png" alt="Digital Design Work">
            </picture>
            <div class="social-icons-wrapper team-member-card-wrapper__social-network-icons-wrapper">
                <a href="#"
                    class="social-icons-wrapper__social-icon-wrapper team-member-card-wrapper__social-network-icon">@@include('./html/layout/html-assets/facebook-icon-black.html')</a>
                <a href="#"
                    class="social-icons-wrapper__social-icon-wrapper team-member-card-wrapper__social-network-icon">@@include('./html/layout/html-assets/twitter-icon-black.html')</a>
                <a href="#"
                    class="social-icons-wrapper__social-icon-wrapper team-member-card-wrapper__social-network-icon">@@include('./html/layout/html-assets/linked-in-icon-black.html')</a>
                <a href="#"
                    class="social-icons-wrapper__social-icon-wrapper team-member-card-wrapper__social-network-icon">@@include('./html/layout/html-assets/dribble-icon-black.html')</a>
            </div>
        </div>
        <div class="team-member-card-wrapper">
            <div class="team-member-card-wrapper__heading">
                <h3 class="team-member-card-wrapper__team-member-name">Jane Cooper
                </h3>
                <p class="team-member-card-wrapper__job-title">Creative Director</p>
            </div>
            <picture>
                <source media="(min-width: 1200px)" srcset="../../img/team/Our-team-5-desktop.png">
                <source media="(min-width: 768px)" srcset="../../img/team/Our-team-5-tablet.png">
                <img src="../../img/team/Our-team-5-mobile.png" alt="Digital Design Work">
            </picture>
            <div class="social-icons-wrapper team-member-card-wrapper__social-network-icons-wrapper">
                <a href="#"
                    class="social-icons-wrapper__social-icon-wrapper team-member-card-wrapper__social-network-icon">@@include('./html/layout/html-assets/facebook-icon-black.html')</a>
                <a href="#"
                    class="social-icons-wrapper__social-icon-wrapper team-member-card-wrapper__social-network-icon">@@include('./html/layout/html-assets/twitter-icon-black.html')</a>
                <a href="#"
                    class="social-icons-wrapper__social-icon-wrapper team-member-card-wrapper__social-network-icon">@@include('./html/layout/html-assets/linked-in-icon-black.html')</a>
                <a href="#"
                    class="social-icons-wrapper__social-icon-wrapper team-member-card-wrapper__social-network-icon">@@include('./html/layout/html-assets/dribble-icon-black.html')</a>
            </div>
        </div>
        <div class="team-member-card-wrapper">
            <div class="team-member-card-wrapper__heading">
                <h3 class="team-member-card-wrapper__team-member-name">Robert Fox
                </h3>
                <p class="team-member-card-wrapper__job-title">Brand Designer</p>
            </div>
            <picture>
                <source media="(min-width: 1200px)" srcset="../../img/team/Our-team-6-desktop.png">
                <source media="(min-width: 768px)" srcset="../../img/team/Our-team-6-tablet.png">
                <img src="../../img/team/Our-team-6-mobile.png" alt="Digital Design Work">
            </picture>
            <div class="social-icons-wrapper team-member-card-wrapper__social-network-icons-wrapper">
                <a href="#"
                    class="social-icons-wrapper__social-icon-wrapper team-member-card-wrapper__social-network-icon">@@include('./html/layout/html-assets/facebook-icon-black.html')</a>
                <a href="#"
                    class="social-icons-wrapper__social-icon-wrapper team-member-card-wrapper__social-network-icon">@@include('./html/layout/html-assets/twitter-icon-black.html')</a>
                <a href="#"
                    class="social-icons-wrapper__social-icon-wrapper team-member-card-wrapper__social-network-icon">@@include('./html/layout/html-assets/linked-in-icon-black.html')</a>
                <a href="#"
                    class="social-icons-wrapper__social-icon-wrapper team-member-card-wrapper__social-network-icon">@@include('./html/layout/html-assets/dribble-icon-black.html')</a>
            </div>
        </div>
        <div class="our-team-section__join-team-info-wrapper">
            <h3 class="our-team-section__join-team-heading">Join the team</h3>
            <p class="our-team-section__description">Desire to influence
                the future of branding?</p>
            <button class="main-site-button our-team-section__cta-button">Find Job</button>
        </div>
    </div>
</section>