<section class="selected-works-section section-block">
    <h2 class="selected-works-section__main-title">Selected work</h2>
    <div class="selected-works-section__design-works-items-wrapper">

        <div class="design-works-item">

            <picture>
                <source media="(min-width: 1200px)" srcset="../../img/works/Selected-works-1-desktop.png">
                <source media="(min-width: 768px)" srcset="../../img/works/Selected-works-1-tablet.png">
                <img src="../../img/works/Selected-works-1-mobile.png" alt="Digital Design Work">
            </picture>

        </div>

        <div class="design-works-item">

            <picture>
                <source media="(min-width: 1200px)" srcset="../../img/works/Selected-works-2-desktop.png">
                <source media="(min-width: 768px)" srcset="../../img/works/selected-works-2-tablet.png">
                <img src="../../img/works/Selected-works-2-mobile.png" alt="Digital Design Work">
            </picture>

        </div>

        <div class="design-works-item design-works-item--flex-item">
            <div class="design-works-item__subheading-wrapper">
                <h3 class="design-works-item__subheading">Trinity</h3>

                <div class="design-works-item__chip-wrapper">
                    <a href="#" class="design-works-item__chip-item site-chip-item">Digital Design</a>
                    <a href="#" class="design-works-item__chip-item site-chip-item">2022</a>
                </div>
            </div>
            <button class="design-works-item__discover-button main-site-button">Discover</button>
        </div>

        <div class="design-works-item">

            <picture>
                <source media="(min-width: 1200px)" srcset="../../img/works/Selected-works-3-desktop.png">
                <source media="(min-width: 768px)" srcset="
                    ../../img/works/Selected-works-3-tablet.png">
                <img src="../../img/works/Selected-works-3-mobile.png" alt="Digital Design Work">
            </picture>

        </div>

        <div class="design-works-item">

            <picture>
                <source media="(min-width: 1200px)" srcset="../../img/works/Selected-works-4-desktop.png">
                <source media="(min-width: 768px)" srcset="
                    ../../img/works/Selected-works-4-tablet.png">
                <img src="../../img/works/Selected-works-4-mobile.png" alt="Digital Design Work">
            </picture>

        </div>

        <div class="design-works-item design-works-item--flex-item">
            <div class="design-works-item__subheading-wrapper">
                <h3 class="design-works-item__subheading">Morpheus</h3>

                <div class="design-works-item__chip-wrapper">
                    <a href="#" class="design-works-item__chip-item site-chip-item">Digital Design</a>
                    <a href="#" class="design-works-item__chip-item site-chip-item">2023</a>
                </div>
            </div>
            <button class="design-works-item__discover-button main-site-button">Discover</button>
        </div>
        <a href="#" class="design-works-item__chip-item site-chip-item design-works-item__all-works-chip">All Work</a>
    </div>
</section>