<section class="what-i-do">
  <div class="section-with-margin">
    <h3 class="section-header what-i-do__header">What I do</h3>

    <div class="what-i-do__paragraphs">
      <div class="what-i-do__paragraph-item">
        <h5 class="what-i-do__sub-header black-text-uppercase">Digital Design</h5>
        <span class="what-i-do__desc">I craft captivating digital designs that captivate and motivate your audience.
          Allow
          me to breathe life into
          your brand with my expertise.</span>
      </div>

      <div class="what-i-do__paragraph-item">
        <h5 class="what-i-do__sub-header black-text-uppercase">Art Direction</h5>
        <span class="what-i-do__desc">My proficiency in art direction guarantees that your project aligns with your
          brand,
          conveys your message effectively, and is visually striking. Let's collaborate to narrate your story.</span>
      </div>

      <div class="what-i-do__paragraph-item">
        <h5 class="what-i-do__sub-header black-text-uppercase">Interaction Design</h5>
        <span class="what-i-do__desc">I have a specialization in creating user experiences that are not only functional
          but also aesthetically pleasing and user-friendly.</span>
      </div>

      <div class="what-i-do__paragraph-item">
        <h5 class="what-i-do__sub-header black-text-uppercase">Motion Design</h5>
        <span class="what-i-do__desc">From dynamic logos to informative explainer videos, I infuse life into your
          message through visually mesmerizing motion design.</span>
      </div>
    </div>
</section>