<section class="what-i-do">
  <!-- <picture>
    <source
      srcset="../../img/what-i-do/what-i-do-tablet.jpg"
      media="(min-width: 1200px)"
    />
    <source
      srcset="../../img/what-i-do/what-i-do-tablet.jpg"
      media="(min-width: 768px)"
    />
    <img src="../../img/what-i-do/what-i-do-mobile.jpg" alt="foto" />
  </picture> -->

  <section class="what-i-do-text">
    <div class=" what-i-do-wrapper">
      <h2 class="what-i-do-text__title">What I do</h2>
      <ul class="what-i-do-text__list">
        <li class="what-i-do-text__item">
          <h3 class="what-i-do-text__item-title">Digital Design</h3>
          <p>
            I craft captivating digital designs that captivate and motivate your
            audience. Allow me to breathe life into your brand with my
            expertise.
          </p>
        </li>
        <!-- 2 -->
        <li class="what-i-do-text__item">
          <h3 class="what-i-do-text__item-title">Art Direction</h3>
          <p>
            My proficiency in art direction guarantees that your project aligns
            with your brand, conveys your message effectively, and is visually
            striking. Let's collaborate to narrate your story.
          </p>
        </li>
        <!-- 3 -->
        <li class="what-i-do-text__item">
          <h3 class="what-i-do-text__item-title">Interaction Design</h3>
          <p>
            I have a specialization in creating user experiences that are not
            only functional but also aesthetically pleasing and user-friendly.
          </p>
        </li>

        <!-- 4 -->

        <li class="what-i-do-text__item">
          <h3 class="what-i-do-text__item-title">Motion Design</h3>
          <p>
            From dynamic logos to informative explainer videos, I infuse life
            into your message through visually mesmerizing motion design.
          </p>
        </li>
      </ul>
    </div>
  </section>
</section>
